.home-content {
    text-align: center;
}

.home-content h1 {
    font-size: 3.625rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.home-content h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

.tool-list li {
    list-style-type: none;
    margin-bottom: 5px;
}

.home-content button {
    padding: 15px 40px;
    margin-top: 40px;
    font-weight: 500;
    color: #fff;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input {
    margin-top: 40px;
    width: 450px;
    display: block;
    margin-inline: auto;
    padding: 10px;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.87);
    outline: 2px solid rgba(0,0,0,.87);
}