.home-content {
    text-align: center;
}

.home-content h1 {
    font-size: 3.625rem;
    font-weight: 700;
}

.home-content button {
    padding: 15px 40px;
    margin-top: 40px;
    font-weight: 500;
    color: #fff;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    margin-top: 40px;
    display: block;
    margin-inline: auto;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #11131E;
    outline: 2px solid #11131E;
}