.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    margin-bottom: 80px;
    background-color: var(--secondary-color);
    padding-inline: 100px;
}

.logo {
   width: 40px;
   height: 40px;
}

.nav-links li, 
.nav-links a{
    list-style-type: none;
    font-weight: 600;
    margin-right: 16px;
    cursor: pointer;
    line-height: 24%;
    color: #fff;
    transition: all 100ms ease-in;
}

.nav-links li:hover {
    color: rgba(255, 255, 255, 0.719);
}

.nav-links li:last-of-type,
.nav-links a:last-of-type {
    margin-right: 0;
}