@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #252B42;
  --secondary-color: #3366cc;
}

/* CSS RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MARGIN RESET */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

/* IMAGE SETUP */
img,
picture {
  max-width: 100%;
  display: block;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/* FORM SETUP */
input,
button,
textarea,
select {
  font: inherit;
}

/* REMOVE ANIMATION FOR THOSE WHO HAVE IT TURNED OFF */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS RESETS */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: rgba(0,0,0,.87);
}


.flex {
  display: flex;
}

.content-margin {
  max-width: 1046px;
  margin-inline: auto;
}

/* button {
  font-family: 'GraphikRegular';
  cursor: pointer;
} */
/* 
@media (max-width: 480px) {
  .content-margin {
    max-width: 90%;
    margin-inline: auto;
  }
} */
